body {
    overflow: hidden;
    font-family: Calibri, serif;
}

.options > div {
    display: flex;
    align-items: center;
}

.game > .player {
    position: absolute;
    width: 16px;
    aspect-ratio: 1 / 1;
    background-size: 100% 100%;
    background-position: -50% -50%;
}

.rock {
    background-image: url("./assets/rock.png");
}

.scissors {
    background-image: url("./assets/scissors.png");
}

.paper {
    background-image: url("./assets/paper.png");
}